<div class="container">


<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
           

        </div>
        <div class="row">
            <div class="text-center">Developed by:</div>
            <h2 class="text-center">Rudresh Sisodiya</h2>

            <div class="text-center">@rudreshcrackandhack</div>
            <div class="text-center">
                <a href="http://www.aakashhanda.me">Www.Tutor</a>
            </div>
        </div>
    </div>
</div>
</div>